<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="styles.css" /> 
    <title>Matthew Heftie</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
</head>
<body>
    <div class="center">
        <h1>Matthew Heftie</h1>
        <h2>UNO Computer Science</h2>
        <br>
        <br>
        <br>
        <button class="btn" onclick="window.location.href='https://github.com/mheftie296';">
            Github
        </button>
    </div>
    <div class="bottom">
        <p>
            I am not good at web design
        </p>
    </div>
    
</body>
</html> 
